html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0px;
    font-family: 'Andada';
}

.footer {
 position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    border-top: 5px solid rgba(2,138,197,0.7);
    padding: 20px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    align-items: stretch;
    font-family: 'Merriweather', serif;
    margin: 10px 10px;
  
}

.wrapper > div{
    background:#eee;
    padding:1em;
}
.wrapper > div:nth-child(odd){
    background:#ddd;
}

.box1{
    /*align-self:start;*/
    grid-column:span 2;
    grid-row:span 1;
}

.card{
    /*align-self:end;*/
    grid-column:span 3;
    grid-row:span 2;
}

.box3{
    /*justify-self:end;*/
    grid-column: span 2;
    grid-row:span 1;
    background: burlywood!important;
}

.box4{
    grid-column: span 1;
    grid-row: span 1;
    background: chocolate !important;
}

.box5 {
    grid-column: span 3;
    grid-row: span 1;

}

.box6 {
    grid-column: span 1;
    grid-row: span 1;
    background: darkseagreen!important;
}